{# -- Component Variables -- #}

{% set this = {
    menu: navMenu,
    siteName: params.siteName,
    siteUrl: params.siteUrl,
    logo: params.logo,
    categories: params.categories
} %}

{# -- Component Template -- #}

<nav class="c-navigation">

    <a href="{{ this.siteUrl }}" id="logo" class="c-navigation__logo" style="display: none;">
        {% if this.logo is defined and this.logo is not empty %}
        <img src="{{ this.logo }}" alt="{{ this.siteName }} logo" class="c-media__image" />
        {% else %}
        <strong>{{ this.siteName }}</strong>
        {% endif %}
    </a>

    <div class="c-navigation__toggle" style="display: none;">
        <button class="c-hamburger" data-toggle-menu>
            <span class="c-hamburger__line"></span>
            <span class="c-hamburger__line"></span>
            <span class="c-hamburger__line"></span>
        </button>
    </div>

    {% if this.menu %}
    <ul class="c-navigation__menu c-menu">

        {% for item in this.menu.get_items %}
        <li class="c-navigation__menuItem c-menuItem">

            {% if item.children %}
                <a href="{{ item.link }}" class="u-link">
                    {{ item.title }}
                </a>

            {% else %}
                <a href="{{ item.link }}" class="u-link">
                    {{ item.title }}
                </a>

            {% endif %}

            {% if item.children %}
                <ul id="primary__sub-{{ item.id }}" class="c-submenu">

                    {% for submenu in item.children %}
                        <li class="c-submenu__item">
                            <a href="{{ submenu.link }}" class="u-link">
                                {{ submenu.title }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            {% endif %}

        </li>
        {% endfor %}

        {% if this.categories %}
        <li class="c-navigation__menuItem c-menuItem has-dropdown">
            <a href="javscript:;" class="u-link">Locations</a>
            <ul class="c-submenu is-hidden">
                {% for submenu in this.categories %}
                    <li class="c-submenu__item">
                        <a href="{{ submenu.link }}" class="u-link">{{ submenu.title }}</a>
                    </li>
                {% endfor %}
                <li class="c-submenu__item">
                    <a href="/locations" class="u-link">View All</a>
                </li>
            </ul>
        </li>
        {% endif %}

    </ul>
    {% endif %}

</nav>
